aside.farmacia-form .btn-container{
    margin-top: 30px !important;
}
aside.farmacia-form .btn-container button{
    width: calc(100%/2);
    border: 0;
    background: #7d40e7;
    border-radius: 2px;
    padding: 5px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    transition: background 0.8s;
    float: right;
}

aside.farmacia-form .btn-container button:hover{
    background: #bf40bf;
}

aside.farmacia-form .btn-container button + button{
    margin-left: 10px;
}
aside.farmacia-form .btn-container .btn-group {
    width: 100%;
}
aside.farmacia-form .MuiButtonGroup-contained{
    box-shadow: none;
}
